name: generate Issue

on:
  issues:
    types: [opened]

jobs:
  working-luvT-archive:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: generate Issue
        run: |
          yarn
          yarn generate
        env:
          TZ: Asia/Tokyo
          GITHUB_ACCESS_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: git setting
        run: |
          git config --local user.email "ivgtr.me@gmail.com"
          git config --local user.name "ivgtr"
      - name: commit & push
        run: |
          git add .
          git commit -m "updating Weekly GitHub Trending!" -a
          git pull
          git push origin master
