name: Generate Readme.md

on:
  issues:
    types: [labeled]
  workflow_dispatch:

jobs:
  working-generate-readme:
    if: github.event.label.name == 'weekly-trending'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: generate Issue
        run: |
          yarn --frozen-lockfile --non-interactive
          yarn generate
        env:
          TZ: Asia/Tokyo
          GITHUB_ACCESS_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: commit & push
        run: |
          git add -N .
          if ! git diff --exit-code --quiet
          then
            git config user.name github-actions
            git config user.email github-actions@github.com
            git add .
            git commit -m "updating Weekly GitHub Trending!"
            git push
          fi
