name: workflow get weekly GithubTrend!

on:
  schedule:
    - cron: "0 3 * * 1"
  workflow_dispatch:

jobs:
  working-get-GithubTrend:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: workflow get weekly GithubTrend!
        run: |
          yarn --frozen-lockfile --non-interactive
          yarn workflow
        env:
          TZ: Asia/Tokyo
          GITHUB_ACCESS_TOKEN: ${{ secrets.GH_TOKEN }}
          TRANSLATE_API: ${{ secrets.TRANSLATE_API }}
